<ul class="nav-list">
  <li class="nav-item" *ngFor="let nav of navs">
    <!--    <ng-container *ngIf="nav.children && nav.children.length > 0; else noChildrenNav">-->
    <!--      <a-->
    <!--        #navAppConfigLinkActive="routerLinkActive"-->
    <!--        class="nav-link"-->
    <!--        [class.expanded]="navAppConfigLinkActive.isActive"-->
    <!--        [routerLink]="nav.path"-->
    <!--        routerLinkActive="active"-->
    <!--      >-->
    <!--        <mat-icon class="icon" fxFlex="none">{{ nav.icon }}</mat-icon>-->

    <!--        <p fxFlex="auto">{{ nav.text }}</p>-->

    <!--        <mat-icon class="arrow-icon" fxFlex="none">keyboard_arrow_right</mat-icon>-->
    <!--      </a>-->

    <!--      <ul-->
    <!--        #navAppConfigListLevel2Ref-->
    <!--        class="nav-list-level-2"-->
    <!--        [style.height.px]="-->
    <!--          navAppConfigLinkActive.isActive ? navAppConfigListLevel2Ref.scrollHeight : 0-->
    <!--        "-->
    <!--      >-->
    <!--        <li class="nav-item-level-2" *ngFor="let childNav of nav.children">-->
    <!--          <a-->
    <!--            class="nav-link-level-2"-->
    <!--            [routerLink]="childNav.path"-->
    <!--            routerLinkActive="active"-->
    <!--            [queryParams]="childNav.queryParams"-->
    <!--          >-->
    <!--            {{ childNav.text }}-->
    <!--          </a>-->
    <!--        </li>-->
    <!--      </ul>-->
    <!--    </ng-container>-->

    <!--    <ng-template #noChildrenNav>-->
    <a
      class="nav-link"
      [routerLink]="nav.path"
      [queryParams]="nav?.queryParams"
      routerLinkActive="active"
    >
      <mat-icon class="icon">{{ nav.icon }}</mat-icon>

      <span class="nav-text">{{ nav.text }}</span>
    </a>
  </li>
</ul>
