.show-at-gt-sm {
  display: none;

  @include gt-sm() {
    display: block;
  }
}

.show-at-sm {
  display: none;

  @include sm() {
    display: block;
  }
}

.show-at-md {
  display: none;

  @include md() {
    display: block;
  }
}

.show-at-lt-lg {
  display: none;

  @include lt-lg() {
    display: block;
  }
}

.show-at-lg {
  display: none;

  @include lg() {
    display: block;
  }
}
