.gray-1 {
  color: $gray-1;
}
.gray-3 {
  color: $gray-3;
}
.gray-2 {
  color: $gray-2;
}
.gray-4 {
  color: $gray-4;
}
.white {
  color: $white;
}
.black {
  color: $black;
}

.mint {
  color: $mint;
}
