.mt-xxs {
  margin-top: $spacing-xxs;
}
.mt-xs {
  margin-top: $spacing-xs;
}
.mt-s {
  margin-top: $spacing-s;
}
.mt-m {
  margin-top: $spacing-m;
}
.mt-l {
  margin-top: $spacing-l;
}
.mt-xl {
  margin-top: $spacing-xl;
}
.mt-xxl {
  margin-top: $spacing-xxl;
}
.mt-xxl-2 {
  margin-top: $spacing-xxl-2;
}
.mt-xxl-3 {
  margin-top: $spacing-xxl-3;
}
.mt-xxl-4 {
  margin-top: $spacing-xxl-4;
}
.mt-xxl-5 {
  margin-top: $spacing-xxl-5;
}
.mt-xxl-6 {
  margin-top: $spacing-xxl-6;
}
.mt-xxl-7 {
  margin-top: $spacing-xxl-7;
}
.mt-xxl-8 {
  margin-top: $spacing-xxl-8;
}
.mt-xxl-9 {
  margin-top: $spacing-xxl-9;
}

.mr-xxs {
  margin-right: $spacing-xxs;
}
.mr-xs {
  margin-right: $spacing-xs;
}
.mr-s {
  margin-right: $spacing-s;
}
.mr-m {
  margin-right: $spacing-m;
}
.mr-l {
  margin-right: $spacing-l;
}
.mr-xl {
  margin-right: $spacing-xl;
}
.mr-xxl {
  margin-right: $spacing-xxl;
}
.mr-xxl-2 {
  margin-right: $spacing-xxl-2;
}
.mr-xxl-3 {
  margin-right: $spacing-xxl-3;
}
.mr-xxl-4 {
  margin-right: $spacing-xxl-4;
}
.mr-xxl-5 {
  margin-right: $spacing-xxl-5;
}
.mr-xxl-6 {
  margin-right: $spacing-xxl-6;
}
.mr-xxl-7 {
  margin-right: $spacing-xxl-7;
}
.mr-xxl-8 {
  margin-right: $spacing-xxl-8;
}
.mr-xxl-9 {
  margin-right: $spacing-xxl-9;
}

.mb-xxs {
  margin-bottom: $spacing-xxs;
}
.mb-xs {
  margin-bottom: $spacing-xs;
}
.mb-s {
  margin-bottom: $spacing-s;
}
.mb-m {
  margin-bottom: $spacing-m;
}
.mb-l {
  margin-bottom: $spacing-l;
}
.mb-xl {
  margin-bottom: $spacing-xl;
}
.mb-xxl {
  margin-bottom: $spacing-xxl;
}
.mb-xxl-2 {
  margin-bottom: $spacing-xxl-2;
}
.mb-xxl-3 {
  margin-bottom: $spacing-xxl-3;
}
.mb-xxl-4 {
  margin-bottom: $spacing-xxl-4;
}
.mb-xxl-5 {
  margin-bottom: $spacing-xxl-5;
}
.mb-xxl-6 {
  margin-bottom: $spacing-xxl-6;
}
.mb-xxl-7 {
  margin-bottom: $spacing-xxl-7;
}
.mb-xxl-8 {
  margin-bottom: $spacing-xxl-8;
}
.mb-xxl-9 {
  margin-bottom: $spacing-xxl-9;
}

.ml-xxs {
  margin-left: $spacing-xxs;
}
.ml-xs {
  margin-left: $spacing-xs;
}
.ml-s {
  margin-left: $spacing-s;
}
.ml-m {
  margin-left: $spacing-m;
}
.ml-l {
  margin-left: $spacing-l;
}
.ml-xl {
  margin-left: $spacing-xl;
}
.ml-xxl {
  margin-left: $spacing-xxl;
}
.ml-xxl-2 {
  margin-left: $spacing-xxl-2;
}
.ml-xxl-3 {
  margin-left: $spacing-xxl-3;
}
.ml-xxl-4 {
  margin-left: $spacing-xxl-4;
}
.ml-xxl-5 {
  margin-left: $spacing-xxl-5;
}
.ml-xxl-6 {
  margin-left: $spacing-xxl-6;
}
.ml-xxl-7 {
  margin-left: $spacing-xxl-7;
}
.ml-xxl-8 {
  margin-left: $spacing-xxl-8;
}
.ml-xxl-9 {
  margin-left: $spacing-xxl-9;
}
