$spacing-xxs: 4px;
$spacing-xs: 8px;
$spacing-s: 10px;
$spacing-m: 12px;
$spacing-l: 16px;
$spacing-xl: 20px;
$spacing-xxl: 24px;
$spacing-xxl-2: 32px;
$spacing-xxl-3: 40px;
$spacing-xxl-4: 48px;
$spacing-xxl-5: 56px;
$spacing-xxl-6: 64px;
$spacing-xxl-7: 72px;
$spacing-xxl-8: 80px;
$spacing-xxl-9: 96px;
