<div class="footer-box">
  <div class="inner-box">
    <div class="left-box">
      <a class="footer-logo-link" routerLink="/index">
        <img libSrc="/assets/icons/toolbar-logo-color.png" alt="footer-logo" class="footer-logo" />
      </a>
    </div>

    <div class="right-box">
      <dl class="footer-info-list">
        <dd class="footer-info-item">
          <p class="footer-info">사업자 등록번호 : 314-86-37230</p>

          <p class="footer-info">대표 : 김기덕</p>
        </dd>

        <dd class="footer-info-item">
          <p class="footer-info address">
            서울 오피스 <span class="address-divider">:</span> 서울시 강남구 삼성로 95길 24 (삼성동)
            장산빌딩 4층
          </p>
        </dd>

        <dd class="footer-info-item">
          <p class="footer-info address">
            대전 오피스 <span class="address-divider">:</span> 대전광역시 유성구 테크노 4로 17
            대덕비즈센터 B동 214호
          </p>
        </dd>

        <dd class="footer-info-item">
          <p class="footer-info">TEL : 042) 862.0142</p>
          <p class="footer-info">E-Mail : sales@cntech.pro</p>
        </dd>
      </dl>

      <dl class="footer-sub-info-list">
        <dd class="footer-sub-info-item">
          <p class="footer-sub-info">Copyright 2023 C&TECH All rights reserved.</p>
        </dd>

        <dd class="footer-sub-info-item">
          <a class="footer-sub-info" routerLink="policy">개인정보보호 방침</a>
        </dd>
      </dl>
    </div>
  </div>
</div>
